In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score

In [2]:
# CSV of publically traded healthcare companies as classified by GIC subindustry codes
df = pd.read_csv('healthcare_fundamentals_v3.csv') #update w/ latest version

C:\Users\Derrick\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (23,33,37,955,956,957,962,976,977) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
#list(df.columns) #cusip, gvkey, lpermno, sic
df['cik']

0         319126.0
1         319126.0
2         319126.0
3         319126.0
4         319126.0
           ...
14060    1567529.0
14061    1138776.0
14062    1138776.0
14063    1553846.0
14064    1553846.0
Name: cik, Length: 14065, dtype: float64

In [4]:
# Get CIK list from healthcare_fundamentals file
cik_list = str(list(df['cik'])).strip('\'').strip('[').strip(']').split(', ')

In [5]:
# Write to txt file to look up relevant companies in Audit Analytics database
file = open('healthcare_cik.txt','w')
for i in df['cik']:
    file.write(str(i))
    file.write('\n')
file.close()

In [6]:
# Bankrupt healthcare companies
df_bankrupt = pd.read_csv('healthcare_bankrupt_audit_analytics_v2.csv')
len(df_bankrupt)
df_bankrupt.columns

Index(['COMPANY_FKEY', 'BANK_KEY', 'SUBSID_NAME', 'BANKRUPTCY_TYPE',
       'LAW_COURT_FKEY', 'COURT_TYPE_CODE', 'COURT_NAME', 'COURT_S_NAME',
       'COURT_LOC_STREET', 'COURT_LOC_CITY',
       ...
       'HIWATER_INCMST_REVFY', 'HIWATER_INCMST_NETINC_QTR_DATE',
       'HIWATER_INCMST_NETINC_QTR', 'HIWATER_INCMST_NETINC_TTM_DATE',
       'HIWATER_INCMST_NETINC_TTM', 'HIWATER_INCMST_NETINC_FY_DATE',
       'HIWATER_INCMST_NETINC_FY', 'NAME_CHANGE_DATE1', 'NAME_CHANGE_DATE2',
       'NAME_CHANGE_DATE3'],
      dtype='object', length=464)

In [7]:
df_bankrupt_ch_11 = df_bankrupt[df_bankrupt['BANKRUPTCY_TYPE']==11]
len(df_bankrupt_ch_11)

125

In [8]:
relevant_columns = df_bankrupt[['COMPANY_FKEY','FILE_DATE']]
#list(df_bankrupt.columns)
df['cik'][:5]

0    319126.0
1    319126.0
2    319126.0
3    319126.0
4    319126.0
Name: cik, dtype: float64

In [9]:
# COMPANY_FKEY is CIK
df_bankrupt['COMPANY_FKEY'][:5]

0     2034
1    19411
2    57055
3    64892
4    69623
Name: COMPANY_FKEY, dtype: int64

In [10]:
df_bankrupt['COMPANY_FKEY'].nunique()

182

In [11]:
#filter for 2000-2010
mask = (pd.to_datetime(df_bankrupt['BANK_BEGIN_DATE']).dt.year >1999) &  (pd.to_datetime(df_bankrupt['BANK_BEGIN_DATE']).dt.year < 2011)

In [12]:
df_bankrupt_2000 = df_bankrupt[mask]

In [13]:
df_bankrupt_2000

,COMPANY_FKEY,BANK_KEY,SUBSID_NAME,BANKRUPTCY_TYPE,LAW_COURT_FKEY,COURT_TYPE_CODE,COURT_NAME,COURT_S_NAME,COURT_LOC_STREET,COURT_LOC_CITY,...,HIWATER_INCMST_REVFY,HIWATER_INCMST_NETINC_QTR_DATE,HIWATER_INCMST_NETINC_QTR,HIWATER_INCMST_NETINC_TTM_DATE,HIWATER_INCMST_NETINC_TTM,HIWATER_INCMST_NETINC_FY_DATE,HIWATER_INCMST_NETINC_FY,NAME_CHANGE_DATE1,NAME_CHANGE_DATE2,NAME_CHANGE_DATE3
1,19411,196,NaN,11,148,1,New York Southern Bankruptcy Court,NY SBC,NaN,NaN,...,1.844645e+09,2003-12-31,499948000.0,2004-09-30,567866000.0,2003-12-31,499948000.0,2014-07-01,1996-02-14,NaN
4,69623,1324,NaN,11,148,1,New York Southern Bankruptcy Court,NY SBC,NaN,NaN,...,NaN,2002-02-28,1370815.0,2002-02-28,1370815.0,2002-02-28,1370815.0,2004-07-20,NaN,NaN
5,71478,1565,NaN,7,104,1,California Northern Bankruptcy Court,CA NBC,NaN,NaN,...,NaN,2004-12-31,-2214000.0,2005-06-30,-10450000.0,2007-12-31,-4213000.0,2001-11-13,2000-03-31,NaN
8,353827,534,NaN,11,108,1,Delaware Bankruptcy Court,DE BC,NaN,NaN,...,0.000000e+00,2005-01-01,0.0,2001-06-30,14600000.0,2001-06-30,NaN,NaN,NaN,NaN
10,356830,1164,NaN,11,133,1,Massachusetts Bankruptcy Court,MA BC,NaN,NaN,...,2.640000e+07,2007-06-30,16277000.0,2000-08-31,-2816050.0,2000-08-31,NaN,2004-04-08,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,1340752,1441,NaN,11,133,1,Massachusetts Bankruptcy Court,MA BC,NaN,NaN,...,5.044701e+06,2005-12-31,0.0,2007-12-31,-59825181.0,2007-12-31,-21654318.0,NaN,NaN,NaN
174,1351197,2286,NaN,7,105,1,California Southern Bankruptcy Court,CA SBC,NaN,NaN,...,3.200000e+06,2006-12-31,0.0,2007-09-30,-24701000.0,2006-12-31,0.0,NaN,NaN,NaN
175,1355804,2285,NaN,11,108,1,Delaware Bankruptcy Court,DE BC,NaN,NaN,...,0.000000e+00,2008-12-31,0.0,2005-12-31,-10240000.0,2005-12-31,0.0,NaN,NaN,NaN
177,1375098,2297,NaN,11,184,1,Minnesota Bankruptcy Court,MN BC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006-10-13,NaN,NaN
180,1397087,2303,NaN,11,108,1,Delaware Bankruptcy Court,DE BC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df_merge = pd.merge(df, df_bankrupt_2000, left_on = 'cik', right_on = 'COMPANY_FKEY', suffixes = ('_fundam', '_bank'), how = 'left')
df_merge['cik'].nunique()

1788

In [15]:
# df_merge_11 = df_merge[df_merge['BANKRUPTCY_TYPE']==11]
# df_merge_11

In [16]:
df_merge

,GVKEY,LINKPRIM,LIID,LINKTYPE,LPERMNO,LPERMCO,LINKDT,LINKENDDT,datadate,fyear,...,HIWATER_INCMST_REVFY,HIWATER_INCMST_NETINC_QTR_DATE,HIWATER_INCMST_NETINC_QTR,HIWATER_INCMST_NETINC_TTM_DATE,HIWATER_INCMST_NETINC_TTM,HIWATER_INCMST_NETINC_FY_DATE,HIWATER_INCMST_NETINC_FY,NAME_CHANGE_DATE1,NAME_CHANGE_DATE2,NAME_CHANGE_DATE3
0,1021,P,01,NU,NaN,NaN,03/20/1999,E,06/30/2000,2000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1021,P,01,NU,NaN,NaN,03/20/1999,E,06/30/2001,2001.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1021,P,01,NU,NaN,NaN,03/20/1999,E,06/30/2002,2002.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1021,P,01,NU,NaN,NaN,03/20/1999,E,06/30/2003,2003.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1021,P,01,NU,NaN,NaN,03/20/1999,E,06/30/2004,2004.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14070,287111,C,00X,NR,NaN,NaN,01/01/2010,05/30/2013,12/31/2010,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14071,293754,C,00X,NR,NaN,NaN,01/01/2008,04/07/2011,12/31/2009,2009.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14072,293754,C,00X,NR,NaN,NaN,01/01/2008,04/07/2011,12/31/2010,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14073,296885,C,00X,NR,NaN,NaN,01/01/2009,12/26/2012,12/31/2009,2009.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14074,296885,C,00X,NR,NaN,NaN,01/01/2009,12/26/2012,12/31/2010,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df_test = df_merge[df_merge['cik'] ==815508]

In [18]:
df_test

,GVKEY,LINKPRIM,LIID,LINKTYPE,LPERMNO,LPERMCO,LINKDT,LINKENDDT,datadate,fyear,...,HIWATER_INCMST_REVFY,HIWATER_INCMST_NETINC_QTR_DATE,HIWATER_INCMST_NETINC_QTR,HIWATER_INCMST_NETINC_TTM_DATE,HIWATER_INCMST_NETINC_TTM,HIWATER_INCMST_NETINC_FY_DATE,HIWATER_INCMST_NETINC_FY,NAME_CHANGE_DATE1,NAME_CHANGE_DATE2,NAME_CHANGE_DATE3
9302,122315,P,01,LC,87057.0,16691.0,07/30/1999,07/21/2009,10/31/2000,2000.0,...,700000.0,2006-10-31,-6281000.0,2009-04-28,-14692330.0,2008-10-28,NaN,NaN,NaN,NaN
9303,122315,P,01,LC,87057.0,16691.0,07/30/1999,07/21/2009,10/31/2001,2001.0,...,700000.0,2006-10-31,-6281000.0,2009-04-28,-14692330.0,2008-10-28,NaN,NaN,NaN,NaN
9304,122315,P,01,LC,87057.0,16691.0,07/30/1999,07/21/2009,10/31/2002,2002.0,...,700000.0,2006-10-31,-6281000.0,2009-04-28,-14692330.0,2008-10-28,NaN,NaN,NaN,NaN
9305,122315,P,01,LC,87057.0,16691.0,07/30/1999,07/21/2009,10/31/2003,2003.0,...,700000.0,2006-10-31,-6281000.0,2009-04-28,-14692330.0,2008-10-28,NaN,NaN,NaN,NaN
9306,122315,P,01,LC,87057.0,16691.0,07/30/1999,07/21/2009,10/31/2004,2004.0,...,700000.0,2006-10-31,-6281000.0,2009-04-28,-14692330.0,2008-10-28,NaN,NaN,NaN,NaN
9307,122315,P,01,LC,87057.0,16691.0,07/30/1999,07/21/2009,10/31/2005,2005.0,...,700000.0,2006-10-31,-6281000.0,2009-04-28,-14692330.0,2008-10-28,NaN,NaN,NaN,NaN
9308,122315,P,01,LC,87057.0,16691.0,07/30/1999,07/21/2009,10/31/2006,2006.0,...,700000.0,2006-10-31,-6281000.0,2009-04-28,-14692330.0,2008-10-28,NaN,NaN,NaN,NaN
9309,122315,P,01,LC,87057.0,16691.0,07/30/1999,07/21/2009,10/31/2007,2007.0,...,700000.0,2006-10-31,-6281000.0,2009-04-28,-14692330.0,2008-10-28,NaN,NaN,NaN,NaN
9310,122315,P,01,LC,87057.0,16691.0,07/30/1999,07/21/2009,10/31/2008,2008.0,...,700000.0,2006-10-31,-6281000.0,2009-04-28,-14692330.0,2008-10-28,NaN,NaN,NaN,NaN

In [19]:
mask = pd.to_datetime(df_merge['datadate']).dt.year + 1 == pd.to_datetime(df_merge['BANK_BEGIN_DATE']).dt.year

df_merge['bankrupted'] = np.where(mask, 1,0)

In [20]:
df_merge['bankrupted']

0        0
1        0
2        0
3        0
4        0
        ..
14070    0
14071    0
14072    0
14073    0
14074    0
Name: bankrupted, Length: 14075, dtype: int32

In [21]:
mask = pd.to_datetime(df_merge['datadate']).dt.year + 1 == pd.to_datetime(df_merge['BANK_BEGIN_DATE']).dt.year
df_merge[mask]

,GVKEY,LINKPRIM,LIID,LINKTYPE,LPERMNO,LPERMCO,LINKDT,LINKENDDT,datadate,fyear,...,HIWATER_INCMST_NETINC_QTR_DATE,HIWATER_INCMST_NETINC_QTR,HIWATER_INCMST_NETINC_TTM_DATE,HIWATER_INCMST_NETINC_TTM,HIWATER_INCMST_NETINC_FY_DATE,HIWATER_INCMST_NETINC_FY,NAME_CHANGE_DATE1,NAME_CHANGE_DATE2,NAME_CHANGE_DATE3,bankrupted
373,2903,C,01,LC,22518.0,6193.0,08/04/1993,08/29/2008,03/31/2008,2007.0,...,2005-03-31,589000.0,2002-03-31,1157000.0,2002-03-31,NaN,NaN,NaN,NaN,1
376,2940,C,01,LC,77854.0,25268.0,08/07/1992,10/08/2002,09/30/2002,2002.0,...,2003-12-31,499948000.0,2004-09-30,567866000.0,2003-12-31,499948000.0,2014-07-01,1996-02-14,NaN,1
445,3171,P,01,LC,24548.0,5308.0,06/30/1982,07/20/2009,12/31/2008,2008.0,...,2007-06-30,16277000.0,2000-08-31,-2816050.0,2000-08-31,NaN,2004-04-08,NaN,NaN,1
596,4228,C,01,LC,84799.0,15464.0,05/09/1997,04/09/2001,12/31/2000,2000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1997-01-14,NaN,NaN,1
972,7133,C,01,LU,51992.0,6296.0,08/18/1983,05/24/2001,12/31/2000,2000.0,...,2005-12-31,357000.0,2002-12-31,-1278000.0,2002-12-31,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11733,157758,P,01,LC,90128.0,45084.0,04/16/2004,04/28/2008,12/31/2007,2007.0,...,2007-06-30,-1617000.0,2007-06-30,-18960000.0,2007-12-31,-12695000.0,NaN,NaN,NaN,1
12193,162956,P,01,LC,90945.0,47874.0,10/28/2005,11/03/2008,09/30/2007,2007.0,...,2004-09-30,0.0,2009-09-30,-8061727.0,2009-09-30,0.0,NaN,NaN,NaN,1
12580,165857,P,01,LC,91074.0,50193.0,01/26/2006,11/20/2009,12/31/2008,2008.0,...,2007-12-31,5466000.0,2007-12-31,-63232000.0,2007-12-31,5466000.0,NaN,NaN,NaN,1
12608,166200,P,01,LC,91820.0,51809.0,02/02/2007,12/20/2010,12/31/2009,2009.0,...,2005-12-31,0.0,2007-12-31,-59825181.0,2007-12-31,-21654318.0,NaN,NaN,NaN,1
12820,174743,P,01,LC,91660.0,51548.0,12/20/2006,12/08/2008,12/31/2007,2007.0,...,2006-12-31,0.0,2007-09-30,-24701000.0,2006-12-31,0.0,NaN,NaN,NaN,1

In [22]:
df_merge['cik'].nunique()

1788

In [23]:
pd.to_datetime(df_merge['datadate']).dt.year + 1

0        2001
1        2002
2        2003
3        2004
4        2005
         ...
14070    2011
14071    2010
14072    2011
14073    2010
14074    2011
Name: datadate, Length: 14075, dtype: int64

In [24]:
pd.to_datetime(df_test['BANK_BEGIN_DATE']).dt.year

9302    2009
9303    2009
9304    2009
9305    2009
9306    2009
9307    2009
9308    2009
9309    2009
9310    2009
Name: BANK_BEGIN_DATE, dtype: int64

In [25]:
df_test['BANK_BEGIN_DATE']

9302    2009-07-16
9303    2009-07-16
9304    2009-07-16
9305    2009-07-16
9306    2009-07-16
9307    2009-07-16
9308    2009-07-16
9309    2009-07-16
9310    2009-07-16
Name: BANK_BEGIN_DATE, dtype: object

In [26]:
# augument different ratio 
#Current Ratio 
df_merge['current_ratio']= df_merge['act']/df_merge['lct']
# Working capital to Total Asset 
df_merge['wc_ta']= df_merge['wcap']/df_merge['at']
#Debt to Asset Ratio
df_merge['totaldebt_totalasset']= df_merge['dt']/df_merge['at']
# ROA 
df_merge['ROA']= df_merge['ni']/df_merge['at']
# RD to sales ratio 
df_merge['research_sale']= df_merge['xrd']/df_merge['sale']

In [27]:
work= df_merge[['current_ratio','wc_ta','totaldebt_totalasset','ROA','research_sale','bankrupted','datadate']]

In [28]:
work=work.replace([np.inf, -np.inf], np.nan)

In [29]:
work=work.dropna()

In [30]:
mask_test = pd.to_datetime(work['datadate']).dt.year >2006
train=work[~mask_test]
test=work[mask_test]

In [31]:
y_train= train['bankrupted']
train= train.drop(columns=['bankrupted', 'datadate'])

In [32]:
x_train= train

## Random Forest

In [33]:
#random forest
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
clf = RandomForestClassifier(max_depth=2, random_state=0, class_weight='balanced')

rgr=clf.fit(x_train, y_train)

C:\Users\Derrick\Anaconda2\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [34]:
pred_train=rgr.predict(x_train)
accuracy_score(pred_train, y_train)

0.9039631883627728

In [35]:
y_test= test['bankrupted']
test= test.drop(columns=['bankrupted', 'datadate'])
x_test= test

In [36]:
pred_test=rgr.predict(x_test)
accuracy_score(pred_test, y_test)

0.8947997609085475

In [37]:
pred_test.sum()

349

In [38]:
pred_test

array([0, 1, 0, ..., 0, 0, 0], dtype=int64)

## Logistic Regression

In [39]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(C=1e5,class_weight='balanced')

# Create an instance of Logistic Regression Classifier and fit the data.
logreg.fit(x_train, y_train)

C:\Users\Derrick\Anaconda2\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=100000.0, class_weight='balanced', dual=False,
                   fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                   max_iter=100, multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [40]:
y_pred=logreg.predict(x_test)

In [41]:
accuracy_score(y_pred, y_test)

0.7074118350268978

In [42]:
y_pred

array([0, 1, 0, ..., 1, 1, 1], dtype=int64)