In [37]:
import pandas as pd

In [38]:
# CSV of publically traded healthcare companies as classified by GIC subindustry codes
df = pd.read_csv('healthcare_fundamentals_v2.csv') #update w/ latest version

C:\Users\Hannah\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (23,33,37,955,956,957,962,976,977) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [39]:
#list(df.columns) #cusip, gvkey, lpermno, sic
df['cik']

0         319126.0
1         319126.0
2         319126.0
3         319126.0
4         319126.0
           ...
14060    1567529.0
14061    1138776.0
14062    1138776.0
14063    1553846.0
14064    1553846.0
Name: cik, Length: 14065, dtype: float64

In [40]:
# Get CIK list from healthcare_fundamentals file
cik_list = str(list(df['cik'])).strip('\'').strip('[').strip(']').split(', ')

In [41]:
# Write to txt file to look up relevant companies in Audit Analytics database
file = open('healthcare_cik.txt','w')
for i in df['cik']:
    file.write(str(i))
    file.write('\n')
file.close()

In [49]:
# Bankrupt healthcare companies
df_bankrupt = pd.read_csv('healthcare_bankrupt_audit_analytics_v2.csv')
len(df_bankrupt)
df_bankrupt.columns

Index(['COMPANY_FKEY', 'BANK_KEY', 'SUBSID_NAME', 'BANKRUPTCY_TYPE',
       'LAW_COURT_FKEY', 'COURT_TYPE_CODE', 'COURT_NAME', 'COURT_S_NAME',
       'COURT_LOC_STREET', 'COURT_LOC_CITY',
       ...
       'HIWATER_INCMST_REVFY', 'HIWATER_INCMST_NETINC_QTR_DATE',
       'HIWATER_INCMST_NETINC_QTR', 'HIWATER_INCMST_NETINC_TTM_DATE',
       'HIWATER_INCMST_NETINC_TTM', 'HIWATER_INCMST_NETINC_FY_DATE',
       'HIWATER_INCMST_NETINC_FY', 'NAME_CHANGE_DATE1', 'NAME_CHANGE_DATE2',
       'NAME_CHANGE_DATE3'],
      dtype='object', length=464)

In [43]:
df_bankrupt_ch_11 = df_bankrupt[df_bankrupt['BANKRUPTCY_TYPE']==11]
len(df_bankrupt_ch_11)

26

In [44]:
relevant_columns = df_bankrupt[['COMPANY_FKEY','FILE_DATE']]
#list(df_bankrupt.columns)
df['cik'][:5]

0    319126.0
1    319126.0
2    319126.0
3    319126.0
4    319126.0
Name: cik, dtype: float64

In [45]:
# COMPANY_FKEY is CIK
df_bankrupt['COMPANY_FKEY'][:5]

0      2034
1     19411
2     57055
3    320174
4    722104
Name: COMPANY_FKEY, dtype: int64

In [46]:
df_bankrupt['COMPANY_FKEY'].nunique()

30

In [47]:
df_merge = df.merge(df_bankrupt, left_on = 'cik', right_on = 'COMPANY_FKEY', suffixes = ('_fundam', '_bank'))
df_merge['cik'].nunique()

30

In [48]:
df_merge_11 = df_merge[df_merge['BANKRUPTCY_TYPE']==11]
df_merge_11

,GVKEY,LINKPRIM,LIID,LINKTYPE,LPERMNO,LPERMCO,LINKDT,LINKENDDT,datadate,fyear,...,HIWATER_INCMST_REVFY,HIWATER_INCMST_NETINC_QTR_DATE,HIWATER_INCMST_NETINC_QTR,HIWATER_INCMST_NETINC_TTM_DATE,HIWATER_INCMST_NETINC_TTM,HIWATER_INCMST_NETINC_FY_DATE,HIWATER_INCMST_NETINC_FY,NAME_CHANGE_DATE1,NAME_CHANGE_DATE2,NAME_CHANGE_DATE3
0,1094,P,01,LC,10656.0,37.0,19721214,E,20000630,2000.0,...,168877000.0,2013-09-30,11335000.0,2016-03-31,39023000,2016-06-30,6774000.0,NaN,NaN,NaN
1,1094,P,01,LC,10656.0,37.0,19721214,E,20010630,2001.0,...,168877000.0,2013-09-30,11335000.0,2016-03-31,39023000,2016-06-30,6774000.0,NaN,NaN,NaN
2,1094,P,01,LC,10656.0,37.0,19721214,E,20020630,2002.0,...,168877000.0,2013-09-30,11335000.0,2016-03-31,39023000,2016-06-30,6774000.0,NaN,NaN,NaN
3,1094,P,01,LC,10656.0,37.0,19721214,E,20030630,2003.0,...,168877000.0,2013-09-30,11335000.0,2016-03-31,39023000,2016-06-30,6774000.0,NaN,NaN,NaN
4,1094,P,01,LC,10656.0,37.0,19721214,E,20040630,2004.0,...,168877000.0,2013-09-30,11335000.0,2016-03-31,39023000,2016-06-30,6774000.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316,184487,C,00X,NR,NaN,NaN,20090101,20100309,20091231,2009.0,...,46369000.0,2017-09-30,6360000.0,2010-03-31,11825596,1999-12-31,2724000.0,2010-03-11,NaN,NaN
317,184487,P,01,LC,84581.0,31920.0,20100310,E,20101231,2010.0,...,46369000.0,2017-09-30,6360000.0,2010-03-31,11825596,1999-12-31,2724000.0,2010-03-11,NaN,NaN
318,254399,C,00X,NR,NaN,NaN,20070701,20100215,20080630,2008.0,...,2400000.0,2009-09-30,-2064000.0,2009-06-30,-517000,2009-06-30,NaN,NaN,NaN,NaN
319,254399,C,00X,NR,NaN,NaN,20070701,20100215,20090630,2009.0,...,2400000.0,2009-09-30,-2064000.0,2009-06-30,-517000,2009-06-30,NaN,NaN,NaN,NaN
320,254399,P,01,LC,93270.0,53351.0,20100216,20171231,20100630,2010.0,...,2400000.0,2009-09-30,-2064000.0,2009-06-30,-517000,2009-06-30,NaN,NaN,NaN,NaN